<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net461" />
  <package id="NetOfficeFw.Core" version="1.8.0-alpha01" targetFramework="net461" />
  <package id="NetOfficeFw.OfficeApi" version="1.8.0-alpha01" targetFramework="net461" />
  <package id="NetOfficeFw.VBIDEApi" version="1.8.0-alpha01" targetFramework="net461" />
</packages>